<h2><%= @info%></h2>
<img src="<%=@image_url%>" alt="">
<h3>Overview</h3>
<p><%=@overview %></p>
<h4>Release Date</h4>
<p><%=@release_date %></p>
<h4>Average Rating</h4>
<p><%= @avg_rating%></p>

<form action="/watchlist" method="post">
<% cookies.store(@info, @overview)%>
<button>Add to Watchlist</button>
</form>

<p><a href="/">Search for another movie</a></p>
